<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Insane-Brushes-'By shraddha'</title>
    <link rel="shortcut icon" href="images/logo/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- header section -->

    <header>
        <div class="header-top">
          <div class="container">
            <ul class="header-social-container">
              <li>
                <a href="#" class="social">
                  <ion-icon
                    name="logo-facebook"
                    style="height: 25px; width: 25px"
                  ></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="social">
                  <ion-icon
                    name="logo-twitter"
                    style="height: 25px; width: 25px"
                  ></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="social">
                  <ion-icon
                    name="logo-instagram"
                    style="height: 25px; width: 25px"
                  ></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="social">
                  <ion-icon
                    name="logo-linkedin"
                    style="height: 25px; width: 25px"
                  ></ion-icon>
                </a>
              </li>
            </ul>
            <div class="header-news-alert">
              <p>
                <b>Free Shipping</b>
                This Week Order Over - $55
              </p>
            </div>
            <div class="header-top-login">
              <div class="header-top-login-inner">
                <div><b>LOGIN</b></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="header-mid">
          <div class="container">
            <div class="header-mid-inner-logo">
              <img src="../images/logo/logopng.png" class="logoimg" />
            </div>
            <div class="header-mid-inner-search">
              <input
                type="search"
                name="search"
                class="search-field"
                placeholder="Enter product name..."
              />
              <button class="search-btn">
                <ion-icon name="search-outline" class="icon-btn"></ion-icon>
              </button>
            </div>
            <div class="header-mid-inner-user">
              <button class="action-btn">
                <ion-icon name="person-outline" class="icon-btn"></ion-icon>
              </button>
  
              <button class="action-btn">
                <ion-icon name="heart-outline" class="icon-btn"></ion-icon>
                <span class="count">0</span>
              </button>
  
              <button class="action-btn">
                <ion-icon name="bag-handle-outline" class="icon-btn"></ion-icon>
                <span class="count">0</span>
              </button>
            </div>
          </div>
        </div>
  
        <nav style="border: none">
          <div class="container">
            <ul id="nav-bar" class="container">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Catagories</a>
              </li>
              <li>
                <a href="#">Art Supplies</a>
              </li>
              <li>
                <a href="#">Accessaries</a>
              </li>
              <li>
                <a href="#">Resin Palattes</a>
              </li>
              <li>
                <a href="#">Paintings</a>
              </li>
              <li>
                <a href="#">Clothes</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
  
 
 <!-- main -->

    <!-- side bar -->
    <div class="main" style="border: none;">
        <div class="container">
          <div class="side-bar-main">
          <div class="side-bar">
            <p class="sidebar-p" >Catagories</p>
  
            <ul class="sidebar-ul">
              <li>
                <a href="#" class="categories-anker">Art Supplies</a>
              </li>
              <li>
                <a href="#" class="categories-anker">
                  
                  Clothes</a>
              </li>
              <li>
                <a href="#" class="categories-anker">Jwellery</a>
              </li>
              <li>
                <a href="#" class="categories-anker">Paintings</a>
              </li>
              <li>
                <a href="#" class="categories-anker">Palattes</a>
              </li>
            </ul>
          </div>
          <div class="side-bar">
            <p class="sidebar-p" >Catagories</p>
  
            <ul class="sidebar-ul">
              <li>
                <a href="#" class="categories-anker">Art Supplies</a>
              </li>
              <li>
                <a href="#" class="categories-anker">Clothes</a>
              </li>
              <li>
                <a href="#" class="categories-anker">Jwellery</a>
              </li>
              <li>
                <a href="#" class="categories-anker">Paintings</a>
              </li>
              <li>
                <a href="#" class="categories-anker">Palattes</a>
              </li>
            </ul>
          </div>
        </div>
  
        <!-- horizontal scroller -->
          <div class="scroller">
            
             
            <!-- vertical scroller -->
            <h2>Top Deals</h2>
            <div class="vertical-scroller">
              
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
              
  
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
  
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
  
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
                <div class="showcase">
                  <div class="showcase-img">
                    <img src="../images/earings/clay2.jpg" alt="showcaseimg" class="showcase-img">
                  </div>
                  <div class="showcase-content">
                    <h3>Polyster Clay Earings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                    <p>&#8377; 500</p>
                  </div>
                </div>
              
  
            </div>
  
          </div>
        </div>
      </div>
  
    </body>

    <script></script>
    <script src="js/script.js"></script>
  
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </html>