<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Insane-Brushes-'By shraddha'</title>
    <link rel="shortcut icon" href="images/logo/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="product.css" />
  </head>
  <body>

<div class="main" style="margin: 0px;">
    <div class="container container-main">

        <div class="product-container">
            <div class="productIimg">
                <img src="../images/earings/clay2.jpg" alt="productimg" class="product-img">
            </div>
            <div class="product-thumbnail">
                <div class="product-thumbnail-item">
                    <img src="../images/earings/clay2.jpg" alt="productimg" class="product-thumbnail-item">      
                </div>
                <div class="product-thumbnail-item">
                    <img src="../images/earings/clay2.jpg" alt="productimg" class="product-thumbnail-item">    
                </div>
                <div class="product-thumbnail-item">
                    <img src="../images/earings/clay2.jpg" alt="productimg" class="product-thumbnail-item">
                </div>
                <div class="product-thumbnail-item">
                    <img src="../images/earings/clay2.jpg" alt="productimg" class="product-thumbnail-item">
                </div>
            </div>
        </div>
        <div class="product-container">
            <div class="product-img">
            
                <h3 class="padding"> Earings</h3>
                <h1 class="padding">Polyster Clay Pink Earings</h1>
                <p class="padding"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rerum incidunt vero, fugit tempore quae? Similique cupiditate quam unde voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, fuga.</p>
                <p class="padding"><h3>&#8377; 500</h3>
                <del>&#8377; 700</del></p>
                <a href="#" class="slide-btn deal-btn" >Add To Cart</a>

            </div>
        </div>
    </div>
</div>

  </body>